## Task

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [1]:
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

In [2]:
# Load up store_income_data.csv
df= pd.read_csv('store_income_data_example.csv')

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [3]:
df['country']= df['country'].str.lower()
print(df['country'])

df['country']= df['country'].str.strip()
print(df['country'])
unique_countries = df['country'].unique()
print(unique_countries)

0                           uk
1      united states of america
2                 united states
3                           uk
4                           uk
                 ...
995               united states
996             united kingdom/
997              united kingdom
998                          uk
999                south africa
Name: country, Length: 1000, dtype: object
0                            uk
1      united states of america
2                 united states
3                            uk
4                            uk
                 ...
995               united states
996             united kingdom/
997              united kingdom
998                          uk
999                south africa
Name: country, Length: 1000, dtype: object
['uk' 'united states of america' 'united states' 'south africa'
 'united states.' 'south africa/' 'south africa.' 'united kingdom'
 'united states of america/' 'uk/' 'united kingdom.' 'united kingdom/'
 'united states/' 'united states of america.' 'uk.']

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [14]:
df.replace("uk","United Kingdom", inplace=True)
df.replace("uk/","United Kingdom",inplace=True)
df.replace("uk.","United Kingdom",inplace=True)
df.replace("united kingdom","United Kingdom",inplace=True)
df.replace("united kingdom.","United Kingdom",inplace=True)
df.replace("united kingdom/","United Kingdom",inplace=True)

df.replace("united states of america.","United States",inplace=True)
df.replace("united states of america","United States",inplace=True)
df.replace("united states of america/","United States",inplace=True)
df.replace("united states","United States", inplace=True)
df.replace("united states.","United States", inplace=True)
df.replace("united states/","United States", inplace=True)

df.replace("south africa","South Africa",inplace=True)
df.replace("south africa/","South Africa",inplace=True)
df.replace("south africa.","South Africa",inplace=True)

df["country"].unique()

array(['United Kingdom', 'United States', 'South Africa'], dtype=object)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [ ]:
from datetime import date

In [15]:
df.head()

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,14 July 2006,United Kingdom
1,2,Nordson Corporation,NaN,Tools,$41744177.01,3 December 2006,United States
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12 August 2003,United States
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,26 October 2006,United Kingdom
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,24 December 1973,United Kingdom

In [23]:
df['days_ago']= pd.to_datetime(df['date_measured'], format = '%d %B %Y')

In [22]:
df['days_ago'].head()

0   2006-07-14
1   2006-12-03
2   2003-08-12
3   2006-10-26
4   1973-12-24
Name: days_ago, dtype: datetime64[ns]